* {
  border: 0;
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 2;
}

.bodyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  background-color: transparent;
}
/*.firstColorSection:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}*/
.firstColorSection {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  opacity: 0.7;
  transition: opacity 1s;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  box-shadow: inset 0 0 0 50vw rgba(255, 0, 150, 0.3);
}
.firstColorSection:hover {
  opacity: 1;
}

.firstColorSection h1 {
  font-size: 2rem;
}
.firstColorSection p {
  padding: 0 1rem;
  font-size: 1.5rem;
  justify-content: center;
}

.bodyDiv:nth-child(1) {
  background-image: url(https://res.cloudinary.com/dmglopmul/image/upload/v1610642669/projectPhotos/spa-business/whitehottub.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.1);
}
.bodyDiv:nth-child(1) h2 {
  color: #fff;
  font-size: 2rem;
  padding: 8px 100px;
  margin-bottom: 150px; /*200px;*/
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 5px 5px 5px #000;
}
.bodyDiv:nth-child(1) p {
  color: #fff;
  font-size: 1.5rem;
  padding: 8px 100px;
  border-radius: 1rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px #000;
}
.bodyDiv:nth-child(2) {
  background: #4527a0;
  height: 500px;
  opacity: 0.9;
}
.bodyDiv:nth-child(3) {
  height: 400px;
  background-image: url(https://res.cloudinary.com/dmglopmul/image/upload/v1538237541/projectPhotos/spa-business/rocksSpa.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.bodyDiv:nth-child(4) {
  background-image: url(https://res.cloudinary.com/dmglopmul/image/upload/v1538207585/projectPhotos/spa-business/bowlsSpa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
  background-color: #ff3d00;
  color: #fff;
  padding: 8px 100px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px #000;
  height: 500px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bodyDiv:nth-child(4) h2 {
  text-align: center;
  font-size: 2rem;
}
.bodyDiv:nth-child(4) p {
  text-align: center;
  font-size: 1.5rem;
}
.bodyDiv:nth-child(5) {
  /*height: 460px;
  width: 100%;
  background-image: url(https://res.cloudinary.com/dmglopmul/image/upload/v1538207585/projectPhotos/spa-business/bowlsSpa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);*/
}

.bodyDiv:nth-child(6) {
  background-color: plum;
  color: #fff;
  padding: 8px 100px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px #000;
  height: 500px;
  /*opacity: 0.9;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bodyDiv:nth-child(6) h2 {
  text-align: center;
  font-size: 2rem;
}
.bodyDiv:nth-child(6) p {
  text-align: center;
  font-size: 1.5rem;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color: #bc80ea;
}
.myButton:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 1439px) {
  .firstColorSection {
    /*flex: 0 1 auto;*/
    padding: 50px;
  }
  .firstColorSection h1 {
    font-size: 2rem;
    text-align: center;
  }
  .firstColorSection p {
    font-size: 1rem;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .firstColorSection {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .firstColorSection {
    padding: 0;
  }
  .firstColorSection h1 {
    font-size: 1.5rem;
  }
  .firstColorSection p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .firstColorSection {
    padding: 0;
    justify-content: center;
  }
  .firstColorSection h1 {
    display: none;
  }
  .firstColorSection p {
    font-size: 0.8rem;
  }
  #parallax p {
    font-size: 1rem;
  }
  .bodyDiv:nth-child(6) h2 {
    display: none;
  }
  .bodyDiv:nth-child(6) p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .firstColorSection {
    padding: 0;
    justify-content: center;
  }
  .firstColorSection h1 {
    display: none;
  }
  .firstColorSection p {
    font-size: 0.8rem;
  }
  #parallax p {
    font-size: 0.8rem;
  }
  #sectionTwo p {
    font-size: 0.8rem;
  }
  .bodyDiv:nth-child(6) h2 {
    display: none;
  }
  .bodyDiv:nth-child(6) p {
    font-size: 0.8rem;
  }
  .bodyDiv:nth-child(1) h2 {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 320px) {
  .bodyDiv:nth-child(1) h2 {
    font-size: 0.8rem;
  }
  .bodyDiv:nth-child(2) {
    height: 200px;
  }
  .firstColorSection h1 {
    display: flex;
    font-size: 0.8rem;
  }
  .firstColorSection p {
    display: none;
  }
}
